# ==========================================
# JetBrains IDE (CLion)
# ==========================================
.idea/
cmake-build-*/

# ==========================================
# CMake
# ==========================================
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# ==========================================
# MSVC & Windows (Компилятор)
# ==========================================
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.idb
*.iobj
*.ipdb
*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.db
*.db-journal

# ==========================================
# Qt (Автоматически генерируемый код)
# ==========================================
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qm
*.pro.user
.qmake.stash

# ==========================================
# Логи и файлы проекта
# ==========================================
logs/
*.log
*.tmp
*.temp
*.json
*.ini
*.txt

# ==========================================
# Аудио
# ==========================================
*.mp3
*.wav
*.flac

# ==========================================
# secret files
# ==========================================
.env

# ==========================================
# Rust
# ==========================================
shazam_ffi/target/
